body {
    background-color: #E8F9FD;
}

h1 {
    display: block;
    text-align: center;
}

p.text {
    display: inline-flex;
    padding-left: 15%;
    padding-right: 20%;
    text-align: justify;
    left: 50%;
    right: 50%;
}

li.menu {
    display: inline;
    padding: 10px;
}

.footer {
    background-color: #dbe2ef;
    padding: 10px;
    font-size: 11px;
    text-align: center;
    clear: both;
}

a.menu {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-decoration: none;
}

a.home {
    text-decoration: none;
    padding: 10px;
    color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

ul.menu {
    background-color: #0AA1DD;
    padding: 10px;
}

ul.footer {
    padding: 10px;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0AA1DD;
    color: white;
    text-align: center;
}

img.capa {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img.header {
    width: 10%;
}

a:hover {
    font-weight: bold;
    background-color: #2155CD;
}

.who {
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    color: #2155CD;
    padding-left: 10%;
    padding-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

@media (min-width: 1025px) {
    .h-custom {
        height: 80vh !important;
    }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 10px;
}

.bg-indigo {
    background-color: #0d6efd;
}

@media (min-width: 992px) {
    .card-registration-2 .bg-indigo {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

@media (max-width: 991px) {
    .card-registration-2 .bg-indigo {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

/* https://colorhunt.co/palette/e8f9fd79dae80aa1dd2155cd */